<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Comprar</title>
	<style type="text/css">

@font-face{
	font-family:'sky';
	src:url(/fuentes/Rubik.ttf);
}
		body{
background-color: rgb(62, 62, 153);
}
#login{
	width: 400px;
	background-color:rgb(42, 86, 153);
	padding: 30PX; 
	margin:auto;
	margin-top: 10PX;
	
	color: #ffffff;
	box-shadow: 7px 13px 37px rgb(143, 88, 139);
}
label{
	
	font-size: 25px;
	color:white;
}
h1{
	display:flex;
			justify-content: center;
			align-items: center;
			margin:40px auto;
			font: 2rem 'sky'
}
form{
	display:flex;
	flex-direction: column;
}
input{
padding:8px;
border-radius:10px 10px 10px 10px;
text-align: center;
width:70%;
margin:.5rem auto;
}
#iniciar{
	margin-top:10px;
	padding: 7px;
	
}

p{
	color: black;
}

#botonR {
    width: 14%;
    background-color: beige;
    border-radius: 2px;
    border: 2px;
    padding: 10px;
    color: black;
    margin: 10px 0;
	
    font-size: 18px;
}

.divColumn{
         	display:flex;
         	flex-direction: column;
         	justify-content: center;
         	align-items: center;
         	
         	padding: .5rem;
         }
         #divCampos{
         	display:flex;
         	flex-wrap: wrap;
         	justify-content: center;
         	align-items:center;
         }

         #cantidad{
         	border:1px solid black;
         	width: 30%;
         	border-radius:10px;
         }
	</style>
</head>
<body>


<div style="display: flex; ">
<h1 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  display: inline; text-align: center;margin-left:23%; ">¡Nos emociona que hayas elegido nuestro producto!</h1>
<img style="width: 11%; display: inline; vertical-align: middle; margin-right: 10px;" src='/img/miau.jpg'>
</div>

<div id="login">
<form action="/comprarPost" method='post'>
	<h2 style="text-align: center; font-size: 30px; font: 2rem 'sky'"> Informacion del Cliente   </h2>
    <div id='divCampos'>
		
			
			
			
			
	<div class='divColumn'>
	<label>Nombre de usuario</label>
	<input type="text" name="nombre_de_usuario" value='<%= resultado.nombre_usuario%>' readonly>
	</div class='divColumn'>

    
	<div class='divColumn'>
	<label>Apellido</label>
    <input type="text" name="apellido" value="<%= resultado.apellido%>" readonly>
	</div>

	<div class='divColumn'>
	<label>Cedula</label>	
	<input type="number" name="cedula" value='<%=ip.cedula%>' readonly>
	</div>

	<div class='divColumn'>
		<label>Nombre del producto</label>
		<input type="text" name="nombre_producto" value='<%= resultado.nombre%>' readonly>
	</div>
	
     <div class='divColumn'>
     <label>Cliente_id</label>
	 <input type="number" name="cliente_id" value='<%= resultado.id%>' readonly>
     </div>

	<div class='divColumn'>
	<label>producto_id</label>
	<input type="number" name="producto_id" value='<%= resultado.producto_id%>' readonly>
	</div>

	
    <div class='divColumn'>
    <label>Cantidad</label>
	<input  type="number" name="cantidad" value='1' id='cantidad'>
    </div>
	
    <div class='divColumn'>
    <label>Total a Pagar</label>
	<input type="number" name="total_pagado" value='<%= resultado.precio%>' id='Total_pagado' readonly>
    </div>

    <div class='divColumn'>
    <label>Codigo de operacion</label>
    <input type="number" name="codigo" value="<%=resultado.codigo%>" readonly>
    </div>

    <div class='divColumn'>
    	<label>Numero de Tarjeta</label>
    	<select style="padding: 6px;margin: .5rem auto;border-radius:10px 10px 10px 10px;" name='numeroT' required>
    		<option value=""></option>
    		<option value='4111111111111111'>4111111111111111</option>
    		<option value='5555555555554444'>5555555555554444</option>
    		<option value='378282246310005'>378282246310005</option>
    		<option value='6011111111111117'>6011111111111117</option>
    		<option value='3530111333300000'>3530111333300000</option>
    		<option value='30569309025904'>30569309025904</option>
    	</select>
    </div>

    <div class='divColumn'>
    	<label>Cvv</label>
    	<input type="number" name="cvv" placeholder="clave" min="1" max="999" step="1" id='clave' required>
    </div>

    <div class='divColumn'>
    	<label>Mes de vencimiento</label>
    	<input type="number" name="mesV" min="1" max="12" step="1" placeholder="mes" required>
    </div>

    <div class='divColumn'>
     <label>Año de vencimiento</label>
     <input type="number" min="1900" max="2099" step="1" placeholder="Año" name="year" required>
    </div>

    <div class='divColumn'>
    <label>Metodo de pago</label>
    <select style="padding: 6px;margin: .5rem auto;border-radius:10px 10px 10px 10px;" name='currency'>
    	<option></option>
    	<option value="USD">USD</option>
    	<option value="EUR">EUR</option>
    	<option value="VES">VES</option>
    </select>
    </div>

    <div class='divColumn'>
    <label>Descripción</label>
    <input type="text" name="descripcion" value='<%=resultado.descripcion%>' readonly>
    </div>

	
    <div class='divColumn'>
    <label>Dirección IP</label>
	<input type="text" name="ip_cliente" value='<%= ip.ipAddress%>' readonly>
    </div>
	
    </div>

	<div id='confirmarCancelar'>

	<input style='margin-left:30%; text-align:center; width: 20%;' type="submit" value="Confirmar">
	<input style='margin-left:0%; text-align:center; width: 20%;'  type="button" value="Cancelar" onclick="redireccionar()">
	
	</div>

	
</form>
</div>

<script type="text/javascript">

	function redireccionar(){
		window.location.href='/clientes';
	}

	let clave = document.getElementById('clave');
	clave.addEventListener('input',()=>{
		if(clave.value > 999){
			clave.value=999;
		}
	})


	let cantidad = document.getElementById('cantidad');

	let total_pagado = document.getElementById('Total_pagado');

    const valorInicial = total_pagado.value;

	cantidad.addEventListener('input',function(){
		if(cantidad.value < 1){
		cantidad.value=1;
	}
         total_pagado.value = cantidad.value * valorInicial;
	});
</script>
</body>
</html>